@media screen and (max-width: 767px) {
  .emotions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 20px;
  }
  .emotions__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
  }
  .emotions__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 100%;
    width: 300px;
    height: 300px;
    padding: 20px;
    background-color: white;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 0), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 0);
    transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 0), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 0);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 0), transform 250ms cubic-bezier(0.4, 0, 0.2, 0);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 0), transform 250ms cubic-bezier(0.4, 0, 0.2, 0), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 0), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 0);
    -webkit-box-shadow: 0 2.8px 2.2px rgba(86, 0, 94, 0.034), 0 6.7px 5.3px rgba(86, 0, 94, 0.048), 0 12.5px 10px rgba(86, 0, 94, 0.06), 0 22.3px 17.9px rgba(86, 0, 94, 0.072), 0 41.8px 33.4px rgba(86, 0, 94, 0.086), 0 100px 80px rgba(86, 0, 94, 0.12);
            box-shadow: 0 2.8px 2.2px rgba(86, 0, 94, 0.034), 0 6.7px 5.3px rgba(86, 0, 94, 0.048), 0 12.5px 10px rgba(86, 0, 94, 0.06), 0 22.3px 17.9px rgba(86, 0, 94, 0.072), 0 41.8px 33.4px rgba(86, 0, 94, 0.086), 0 100px 80px rgba(86, 0, 94, 0.12);
  }
  .emotions__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .emotions__item:hover, .emotions__item:focus {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-box-shadow: 0 2.8px 2.2px rgba(86, 0, 94, 0.044), 0 6.7px 5.3px rgba(86, 0, 94, 0.058), 0 12.5px 10px rgba(86, 0, 94, 0.068), 0 22.3px 17.9px rgba(86, 0, 94, 0.079), 0 41.8px 33.4px rgba(86, 0, 94, 0.096), 0 100px 80px rgba(86, 0, 94, 0.24);
            box-shadow: 0 2.8px 2.2px rgba(86, 0, 94, 0.044), 0 6.7px 5.3px rgba(86, 0, 94, 0.058), 0 12.5px 10px rgba(86, 0, 94, 0.068), 0 22.3px 17.9px rgba(86, 0, 94, 0.079), 0 41.8px 33.4px rgba(86, 0, 94, 0.096), 0 100px 80px rgba(86, 0, 94, 0.24);
  }
  .emotions__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .emotions__text {
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.25;
    margin: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .emotions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 20px;
  }
  .emotions__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .emotions__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 40px;
  }
  .emotions__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border-radius: 100%;
    width: 300px;
    height: 300px;
    padding: 20px;
    background-color: white;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 0), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 0);
    transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 0), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 0);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 0), transform 250ms cubic-bezier(0.4, 0, 0.2, 0);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 0), transform 250ms cubic-bezier(0.4, 0, 0.2, 0), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 0), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 0);
    -webkit-box-shadow: 0 2.8px 2.2px rgba(86, 0, 94, 0.034), 0 6.7px 5.3px rgba(86, 0, 94, 0.048), 0 12.5px 10px rgba(86, 0, 94, 0.06), 0 22.3px 17.9px rgba(86, 0, 94, 0.072), 0 41.8px 33.4px rgba(86, 0, 94, 0.086), 0 100px 80px rgba(86, 0, 94, 0.12);
            box-shadow: 0 2.8px 2.2px rgba(86, 0, 94, 0.034), 0 6.7px 5.3px rgba(86, 0, 94, 0.048), 0 12.5px 10px rgba(86, 0, 94, 0.06), 0 22.3px 17.9px rgba(86, 0, 94, 0.072), 0 41.8px 33.4px rgba(86, 0, 94, 0.086), 0 100px 80px rgba(86, 0, 94, 0.12);
  }
  .emotions__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .emotions__item:nth-child(2n + 1) {
    margin-right: 30px;
  }
  .emotions__item:hover, .emotions__item:focus {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-box-shadow: 0 2.8px 2.2px rgba(86, 0, 94, 0.044), 0 6.7px 5.3px rgba(86, 0, 94, 0.058), 0 12.5px 10px rgba(86, 0, 94, 0.068), 0 22.3px 17.9px rgba(86, 0, 94, 0.079), 0 41.8px 33.4px rgba(86, 0, 94, 0.096), 0 100px 80px rgba(86, 0, 94, 0.24);
            box-shadow: 0 2.8px 2.2px rgba(86, 0, 94, 0.044), 0 6.7px 5.3px rgba(86, 0, 94, 0.058), 0 12.5px 10px rgba(86, 0, 94, 0.068), 0 22.3px 17.9px rgba(86, 0, 94, 0.079), 0 41.8px 33.4px rgba(86, 0, 94, 0.096), 0 100px 80px rgba(86, 0, 94, 0.24);
  }
  .emotions__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .emotions__text {
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.25;
    margin: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .client {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 20px;
  }
  .client__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .client__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 50px;
  }
  .client__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 100%;
    width: 300px;
    height: 300px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 0), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 0);
    transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 0), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 0);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 0), transform 250ms cubic-bezier(0.4, 0, 0.2, 0);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 0), transform 250ms cubic-bezier(0.4, 0, 0.2, 0), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 0), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 0);
    -webkit-box-shadow: 0 2.8px 2.2px rgba(86, 0, 94, 0.034), 0 6.7px 5.3px rgba(86, 0, 94, 0.048), 0 12.5px 10px rgba(86, 0, 94, 0.06), 0 22.3px 17.9px rgba(86, 0, 94, 0.072), 0 41.8px 33.4px rgba(86, 0, 94, 0.086), 0 100px 80px rgba(86, 0, 94, 0.12);
            box-shadow: 0 2.8px 2.2px rgba(86, 0, 94, 0.034), 0 6.7px 5.3px rgba(86, 0, 94, 0.048), 0 12.5px 10px rgba(86, 0, 94, 0.06), 0 22.3px 17.9px rgba(86, 0, 94, 0.072), 0 41.8px 33.4px rgba(86, 0, 94, 0.086), 0 100px 80px rgba(86, 0, 94, 0.12);
  }
  .client__item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .client__item:nth-child(-n + 3) {
    background-color: rgba(255, 255, 255, 0.75);
    margin-bottom: 30px;
  }
  .client__item:hover, .client__item:focus {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-box-shadow: 0 2.8px 2.2px rgba(86, 0, 94, 0.044), 0 6.7px 5.3px rgba(86, 0, 94, 0.058), 0 12.5px 10px rgba(86, 0, 94, 0.068), 0 22.3px 17.9px rgba(86, 0, 94, 0.079), 0 41.8px 33.4px rgba(86, 0, 94, 0.096), 0 100px 80px rgba(86, 0, 94, 0.24);
            box-shadow: 0 2.8px 2.2px rgba(86, 0, 94, 0.044), 0 6.7px 5.3px rgba(86, 0, 94, 0.058), 0 12.5px 10px rgba(86, 0, 94, 0.068), 0 22.3px 17.9px rgba(86, 0, 94, 0.079), 0 41.8px 33.4px rgba(86, 0, 94, 0.096), 0 100px 80px rgba(86, 0, 94, 0.24);
  }
  .client__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .client__text {
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.25;
    margin: 20px;
    border-top: 2px solid black;
  }
}
/*# sourceMappingURL=emotions.css.map */