@media screen and (max-width: 480px) {
  .about {
      display: flex;
      justify-content: center;
      padding-top: 40px;
      padding-bottom: 40px;
  
    }
  
    .about__title--mob {
      display: flex;
      align-items: center;
      font-size: 18px;
      line-height: 1.3;
      text-align: start;
      color: black;
      margin-bottom: 20px;
    }
  
    .about__title {
      display: none;
    }
  
    .about__list {
      margin-left: 20px;
    }
  
    .about__icons {
      fill: $main-color;
      margin-right: 5px;
    }
  
    .about__text {
      text-align: start;
      font-size: 15px;
      line-height: 1.25;
      text-align: left;
      color: black;
      margin: 15px 10px;
      // padding: 10px;
    }
}

@media screen and (max-width: 767px) {
  .about {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    
  }
  .about__title--mob {
    display: flex;
    align-items: center;
    font-family: Alegreya Sans SC;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    text-align: start;
    color: black;
    margin-bottom: 20px;
  }
  .about__title {
      display: none;
    }
  .about__list {
    margin-left: 20px;
  }
  .about__icons {
    fill:$main-color; 
    margin-right: 5px;
  }
  .about__text {
    text-align: start;
    font-family: Yanone Kaffeesatz;
    font-size: 15px;
    line-height: 1.25;
    text-align: left;
    color: black;
    margin: 15px 10px;
    // padding: 10px;
  }
}
@media screen and (min-width: 768px) {
  .about {
    display: flex;
    justify-content: space-evenly;
    // flex-direction: column;
    padding-top: 20px;
    padding-bottom: 40px;
  }
  .about__title--mob {
    display: none;
  }

  .about__icons {
    fill: $main-color;
    margin-right: 10px;
  }

  .about__title {
    display: flex;
    align-items: center;
    font-family: Alegreya Sans SC;
    font-weight: 700;
    font-size: 35px;
    line-height: 1.3;
    text-align: start;
    color: #000000;
    margin-bottom: 30px;
  }
  .about__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .about__text {
    font-size: 15px;
    line-height: 1.25;
    text-align: left;
    color: black;
    margin: 5px 15px;
    padding: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .about {
      display: flex;
      justify-content: space-evenly;
      // flex-direction: column;
      padding-top: 20px;
      padding-bottom: 40px;
    }
  
    .about__title--mob {
      display: none;
    }
  
    .about__icons {
      fill: $main-color;
      margin-right: 10px;
    }
  
    .about__title {
      display: flex;
      font-family: Alegreya Sans SC;
      font-weight: 700;
      font-size: 50px;
      line-height: 1.3;
      text-align: start;
      color: #000000;
      margin-bottom: 30px;
    }
  
    .about__list {
      display: flex;
      flex-direction: column;
      justify-content: start;
    }
  
    .about__text {
      display: flex;
      font-size: 20px;
      line-height: 1.25;
      text-align: left;
      color: black;
      margin: 5px 15px;
      padding: 10px;
    }
}
