@media screen and (max-width: 767px) {
  .author {
    display: flex;
    flex-direction: column;
  }
  .author__title {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  .author__list {
    display: flex;
    flex-direction: column;
  }
  .author__img {
    display: flex;
    margin: 0 auto;
    margin-bottom: 30px;
    border-radius: 4px; 
  }
  .author__text {
    padding: 0 40px;
    font-size: 17px;
    line-height: 1.25;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  .author__name {
    text-align: center;
    font-size: 23px;
    font-weight: 700;
    color: $main-color;
  }
  .author__imp {
    font-size: 19px;
    font-weight: 700;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .author {
    display: flex;
    // flex-direction: column;
  }
  .author__title {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
  .author__div {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }
    .author__img {
      display: flex;
      justify-content: flex-start;
      height: 500px;
      margin: 0 40px;
      margin-bottom: 40px;
      border-radius: 4px;
    }
  .author__name {
    text-align: center;
    font-size: 23px;
    font-weight: 700;
    color: $main-color;
  }
  .author__list {
    display: flex;
    flex-direction: column;
  }
  .author__text {
    padding: 0 20px;
    font-size: 17px;
    line-height: 1.25;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  .author__imp {
    font-size: 19px;
    font-weight: 700;
  }
}
@media screen and (min-width: 1200px) {
  
  .author {
    display: flex;
    flex-direction: column;
  }
  .author__title {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }

  .author__list {
    display: flex;
    flex-direction: column;
        justify-content: center;
  }
  .author__div {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
    .author__img {
      display: flex;
      justify-content: flex-start;
      margin: 0 50px;
      margin-bottom: 30px;
      border-radius: 4px;
    }
  .author__name {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    color: $main-color;
    margin-bottom: 50px;
  }
  .author__text {
    text-align: center;
    padding: 0 40px;
    font-size: 20px;
    line-height: 1.25;
    
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  .author__imp {
    font-size: 22px;
    font-weight: 700;
    color: $main-color;
  }
}
