@media screen and (max-width: 767px) {
  .buy {
    padding-bottom: 50px;
  }
  .buy__text {
    text-align: center;
    margin: 20px 40px;
    font-size: 20px;
      line-height: 1.25;
  }
  .buy_list {
    display: flex;
    justify-content: space-evenly;
        align-items: center;
    margin: 30px;
  }
  .buy__item {
    display: flex;
    justify-content: center;
  }
 .buy__link {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    text-align: center;
    font-size: 16px;
      line-height: 1.25;
    color: black;
    padding: 20px;
    width: 100px;
    height: 100px;
    border: 1px black solid;
    border-radius: 4px;

    &:hover, 
    &:focus {
      width: 120px;
      height: 120px;
      background-color: #c84837;
      color: white;
      font-size: 18px;
      box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
      border-color: #c84837;
    }
 }
 .buy__icons {
    margin-bottom: 10px;

    &:hover,
      &:focus {
        fill: white;
      }
  }
  .whattsapp {
      fill: #25d366; 
    }
  .telegram {
    fill: #2ca5e0;
  }
  .instagram {
    fill: #e4405f;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .buy {
      padding-bottom: 50px;
    }
  
    .buy__text {
      text-align: center;
      margin: 20px 40px;
      font-size: 20px;
      line-height: 1.25;
    }
  
    .buy_list {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin: 50px;
    }
  
    .buy__item {
      display: flex;
      justify-content: center;
    }
  
    .buy__link {
      display: flex;
      align-items: center;
      flex-direction: column-reverse;
      text-align: center;
      font-size: 18px;
      line-height: 1.25;
      color: black;
      padding: 20px;
      width: 120px;
      height: 120px;
      border: 1px black solid;
      border-radius: 4px;
  
      &:hover,
      &:focus {
      
        width: 140px;
        height: 140px;
        background-color: #c84837;
        color: white;
        font-size: 22px;
        box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
        border-color: #c84837;
      }
    }
  
    .buy__icons {
      width: 80px;
      height: 80px;
      margin-bottom: 10px;
  
      &:hover,
      &:focus {
        fill: white;
      }
    }
  
    .whattsapp {
      fill: #25d366;
    }
  
    .telegram {
      fill: #2ca5e0;
    }
  
    .instagram {
      fill: #e4405f;
    }
}
@media screen and (min-width: 1200px) {
  .buy {
      padding-bottom: 50px;
    }
  
    .buy__text {
      text-align: center;
      margin: 20px 40px;
      font-size: 20px;
      line-height: 1.25;
    }
  
    .buy_list {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin: 60px;
    }
  
    .buy__item {
      display: flex;
      justify-content: center;
    }
  
        .buy__link {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column-reverse;
          text-align: center;
          font-size: 22px;
          line-height: 1.25;
          color: black;
          padding: 20px;
          width: 160px;
          height: 160px;
          border: 1px black solid;
          border-radius: 4px;
    
          &:hover,
          &:focus {
    
            width: 180px;
            height: 180px;
            background-color: #c84837;
            color: white;
            font-size: 26px;
            box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
            border-color: #c84837;
          }
        }
    .buy__icons {
      width: 60px;
        height: 60px;
      margin-bottom: 10px;
  
      &:hover,
      &:focus {
        fill: white;
      }
    }
  
    .whattsapp {
      fill: #25d366;
    }
  
    .telegram {
      fill: #2ca5e0;
    }
  
    .instagram {
      fill: #e4405f;
    }
}
