@media screen and (max-width: 479px) {
.emotions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-bottom: 40px;
  }
  .emotions__title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-bottom: 20px;
  }
  .emotions__small {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Yanone Kaffeesatz;
    font-size: 20px;
    line-height: 1.25;
    margin: 0 10px 30px 10px;
    text-align: center;
  }
  .emotions__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .emotions__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
    line-height: 1.25;
    width: 225px;
    height: 100px;
    // padding: 5px;
    border-radius: 4px;
    border: 1px solid #c84837;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  .emotions__icons {
    fill: #ac3630;
    margin-bottom: 10px;
  }
}

@media screen and (min-width:480px) and (max-width: 767px) {
  .emotions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 40px;
    // padding-top: 20px;
  }
  .emotions__title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-bottom: 20px;
  }
  .emotions__small {
    display: flex;
      justify-content: center;
      align-items: center;
      font-family: Yanone Kaffeesatz;
      font-size: 20px;
      line-height: 1.25;
      margin:0 10px 30px 10px;
      text-align: center;
  }
  .emotions__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .emotions__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    line-height: 1.25;
    width: 200px;
    height: 100px;
    padding: 5px;
    // background-color: #c84837;
    border-radius: 4px;
    border: 1px solid #c84837;
    // box-shadow: inset 0 0 10px 5px rgba(83, 83, 83, 0.678);

    &:nth-child(2n) {
      margin-bottom: 30px;
    }

    &:nth-child(2n + 1) {
      margin-right: 30px;
    }
  }
  .emotions__icons {
    fill: #ac3630;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .emotions {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-bottom: 60px;
      // padding-top: 20px;
    }
  
    .emotions__title {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      margin-bottom: 20px;
    }
  
    .emotions__small {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Yanone Kaffeesatz;
      font-size: 20px;
      line-height: 1.25;
      margin: 0 10px 30px 10px;
      text-align: center;
    }
  
    .emotions__list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  
    .emotions__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 16px;
      line-height: 1.25;
      width: 200px;
      height: 100px;
      padding: 5px;
      // background-color: #c84837;
      border-radius: 4px;
      border: 1px solid #c84837;
  
        &:not(:nth-child(3n+3)) {
            margin-right: 30px;
          }
        
          &:not(:nth-child(n + 7)) {
            margin-bottom: 30px;
          }
    }
  
    .emotions__icons {
      fill: #ac3630;
      margin-bottom: 10px;
    }
}

@media screen and (min-width: 1200px) {
  .emotions {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-bottom: 60px;
      // padding-top: 20px;
    }
  
    .emotions__title {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 35px;
      margin-bottom: 30px;
    }
  
    .emotions__small {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Yanone Kaffeesatz;
      font-size: 20px;
      line-height: 1.25;
      margin: 0 10px 30px 10px;
      text-align: center;
      padding-bottom: 20px;
    }
  
    .emotions__list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  
    .emotions__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 18px;
      line-height: 1.25;
      width: 250px;
      height: 120px;
      padding: 5px;
      // background-color: #c84837;
      border-radius: 4px;
      border: 1px solid #c84837;
      // box-shadow: inset 0 0 10px 5px rgba(83, 83, 83, 0.678);
  
      &:nth-child(-n+5) {
        margin-bottom: 30px;
      }
  
    //   &:nth-child(4n + 1) {
    //     margin-right: 50px;
    //   }
    }
  
    .emotions__icons {
      width: 30px;
      height: 30px;
      fill: #ac3630;
      margin-bottom: 10px;
    }
  }
  
 
