@media screen and (max-width: 480px) {
  
  .footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: $main-color;
    padding: 30px;
    font-style: normal;
  }
  .logo__img2 {
    width: 200px;
    margin-bottom: 30px;
    // display: flex;
    // justify-content: flex-start;
    // align-items: flex-start;
  }
  .logo__img {
    display: none;
  }
  .link__items {
    display: flex;
    justify-content: center;
  
    &:not(:last-child) {
      margin-bottom: 5px;
    }
    &:last-child {
      margin-bottom: 30px;
    }
  }
  .contacts__tel {
    font-family: Alegreya Sans SC;
    font-weight: 500;
    font-size: 26px;
    line-height: 1.3;
    text-align: center;
    color: white;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 0);

    &:hover,
    &:focus {
      color: black;
    }
  }
  .contacts__mail {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.3;
    text-align: center;
    color: white;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 0);

    &:hover,
    &:focus {
      color: black;
    }
  }
  .contacts__icons {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 40px;
  }
  .foot__icons {
    width: 25px;
    height: 25px;
    fill: white;
  }
  .contacts__item {
    display: flex;
    flex-direction: row;
    &:not(:last-child) {
      margin-right: 25px;
    }
  }
  .footer__item {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1);
    &:hover,
    &:focus {
      transform: scale(1.2);
      padding: 10px;
      border-radius: 100%;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);
    }
  }
  .contacts__icons--desctop {
    display: none;
  }
  .rights {
    font-size: 12px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer {
    background-color: $main-color;
    padding: 30px 30px 50px 30px;
    font-style: normal;
  }
  .contacts_div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }
  .logo__img2 {
    display: flex;
    // justify-content: flex-start;
    // align-items: flex-start;
    width: 200px;
    padding-top: 5px;
    margin-bottom: 30px;
  }
  .logo__img {
    display: none;
  }
  .contacts__main {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }
  .link__items {
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
  .contacts__tel {
    font-family: Alegreya Sans SC;
    font-weight: 500;
    font-size: 26px;
    line-height: 1.3;
    text-align: center;
    color: white;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 0);

    &:hover,
    &:focus {
      color: black;
    }
  }
  .contacts__mail {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.3;
    text-align: center;
    color: white;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 0);

    &:hover,
    &:focus {
      color: black;
    }
  }
  .footer__item {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1);
    &:hover,
    &:focus {
      transform: scale(1.2);
      padding: 10px;
      border-radius: 100%;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);
    }
  }
  .contacts__icons {
    display: flex;
    justify-content: center;
    fill: white;
  }
  .contacts__item {
    &:not(:last-child) {
      margin-right: 25px;
    }
    &:last-child  {
      margin-bottom: 30px;
    }
  }
  .contacts__icons--desctop {
    display: none;
  }
  .foot__icons {
    fill: white;
  }
    .rights {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 12px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer {
    position: relative;
    background-color: rgba(255, 255, 255, 1);
    padding: 50px;
    font-style: normal;

    &::before {
        content: '';
        position: absolute;
        display: block;
        left: 0;
        top: 0;
        height: 2px;
        width: 100%;
        background-color: $main-color;
        border-radius: 1px;
      }
  }
  .contacts_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  .logo__img {
    display: flex;
      justify-content: flex-start;
      align-items: flex-start;
    display: flex;
    width: 250px;
    padding-top: 5px;
    margin-bottom: 10px;
  }
  .logo__img2 {
    display: none;
  }
  .contacts__main {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }
  .link__items {
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
  .contacts__tel {
    font-family: Alegreya Sans SC;
    font-weight: 700;
    font-size: 35px;
    line-height: 1.3;
    text-align: center;
    color: $main-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 0);

    &:hover,
    &:focus {
      color: black;
    }
  }
  .contacts__mail {
    font-size: 25px;
    line-height: 1.3;
    text-align: center;
    color: $main-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 0);

    &:hover,
    &:focus {
      color: black;
    }
  }
  .footer__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 0);
    &:hover,
    &:focus {
      background-color: $main-color;
      padding: 10px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);
    }
  }
  .contacts__icons {
    display: flex;
    justify-content: flex-end;
  }
  .contacts__item {
    &:not(:last-child) {
      margin-right: 10px;
    }
        &:last-child {
          margin-bottom: 50px;
        }
  }
  .contacts__icons--desctop {
    display: none;
  }
  .foot__icons {
    fill: $main-color;
    &:hover, 
    &:focus {
      fill: white;
    }
  }
    .rights {
      display: flex;
      justify-content: center;
      font-size: 12px;
    }
}
@media screen and (min-width: 1200px) {
  .footer {
      position: relative;
      background-color: rgba(255, 255, 255, 1);
      padding: 50px 100px;
      font-style: normal;
  
      &::before {
        content: '';
        position: absolute;
        display: block;
        left: 0;
        top: 0;
        height: 2px;
        width: 100%;
        background-color: $main-color;
        border-radius: 1px;
      }
    }
  
    .contacts_div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
    }
  
    .logo__img {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      display: flex;
      width: 300px;
      padding-top: 5px;
      margin-bottom: 10px;
    }
  
    .logo__img2 {
      display: none;
    }
  
    .contacts__main {
      display: flex;
      align-items: flex-end;
      flex-direction: column;
    }
  
    .link__items {
      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  
    .contacts__tel {
      font-family: Alegreya Sans SC;
      font-weight: 700;
      font-size: 40px;
      line-height: 1.3;
      text-align: center;
      color: $main-color;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 0);
  
      &:hover,
      &:focus {
        color: black;
      }
    }
  
    .contacts__mail {
      font-size: 25px;
      line-height: 1.3;
      text-align: center;
      color: $main-color;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 0);
  
      &:hover,
      &:focus {
        color: black;
      }
    }
  
    .footer__item {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 0);
  
      &:hover,
      &:focus {
        background-color: $main-color;
        padding: 10px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);
      }
    }
  
    .contacts__icons--desctop {
      display: flex;
      justify-content: flex-end;
    }
  
    .contacts__item {
      &:not(:last-child) {
        margin-right: 10px;
      }
  
      &:last-child {
        margin-bottom: 60px;
      }
    }
  
    .contacts__icons {
      display: none;
    }
  
    .foot__icons {
      width: 50px;
      height: 50px;
      fill: $main-color;
  
      &:hover,
      &:focus {
        fill: white;
      }
    }
  
    .rights {
      display: flex;
      justify-content: center;
      font-size: 15px;
    }
  }

