@media screen and (max-width: 767px) {
  .hero {
    display: flex;
    align-items: center;
    width: auto;
    height: 270px;
    overflow: hidden;

    &::after {
        content: '';
        position: absolute;
        display: block;
        left: 0;
        bottom: 300px;
        height: 2px;
        width: 100%;
        background-color: #ac3630;
        border-radius: 1px;
      }
  }
  .hero-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 40px;
    padding-top: 50px;
    overflow: hidden;
    
  }
  .hero__inf {
    display: flex;
    flex-direction: column;
    width: 50%;
    overflow: hidden;
  }
  .hero_title__mob {
    display: flex;
    flex-direction: column;
    text-align: start;
    font-family: Alegreya Sans SC;
    font-weight: 800;
    margin-top: 30px;
    // margin-right: 20px;
    color: #ac3630;
    
  }
  .hero_title {
    display: none;
  }
  .title__big {
    font-size: 30px;
  
  }
  .title__small{
    font-size: 15.5px;
    margin-bottom: 20px;
  
  }
  .hero__img {
    display: flex;
    justify-items: flex-end;
    align-self: center;
    padding-top: 20px;
    height: 300px;
    object-fit: cover;

  }
  .hero__text {
    display: flex;
    flex-direction: column;
    text-align: start;
    font-family: Yanone Kaffeesatz;
    font-weight: 500;
    font-size: 15px;
    color: rgb(11, 2, 40);
    margin-bottom: 20px;
  }
  }


@media screen and (min-width: 768px) {
  .hero {
    display: flex;
      align-items: center;
      overflow: hidden;
    
      &::after {
        content: '';
        position: absolute;
        display: block;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 100%;
        background-color: #ac3630;
        border-radius: 1px;
      }
    }
    
    .hero-box {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding-bottom: 40px;
      padding-top: 10px;
      overflow: hidden;
    
    }
    
    .hero__inf {
      display: flex;
      flex-direction: column;
      width: 50%;
      overflow: hidden;
    }
    
    .hero_title__mob {
      display: flex;
      flex-direction: column;
      text-align: start;
      font-family: Alegreya Sans SC;
      font-weight: 800;
      margin-top: 50px;
      // margin-right: 20px;
      color: #ac3630;
    
    }
    
    .hero_title {
      display: none;
    }
    
    .title__big {
      font-size: 70px;
    
    }
    
    .title__small {
      font-size: 42px;
      margin-bottom: 50px;
    
    }
    
    .hero__img {
      display: flex;
      justify-items: flex-end;
      align-self: center;
      padding-top: 20px;
      height: 500px;
      object-fit: cover;
    
    }
    
    .hero__text {
      display: flex;
      flex-direction: column;
      text-align: start;
      font-family: Yanone Kaffeesatz;
      font-weight: 300;
      font-size: 22px;
      color: rgb(11, 2, 40);
      margin-bottom: 50px;
    }
  }
@media screen and (min-width: 1200px) {
  .hero_title__mob {
      display: flex;
      flex-direction: column;
      text-align: start;
      font-family: Alegreya Sans SC;
      font-weight: 800;
      margin-top: 50px;
      // margin-right: 20px;
      color: #ac3630;
  
    }
  
    .hero_title {
      display: none;
    }
  
    .title__big {
      font-size: 70px;
  
    }
  
    .title__small {
      font-size: 42px;
      margin-bottom: 50px;
  
    }
        .hero__img {
          display: flex;
          justify-items: flex-end;
          align-self: center;
          padding-top: 20px;
          height: 550px;
          object-fit: cover;
    
        }
}