@media screen and (max-width: 767px) {
  .rewiew {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }
  .rewiew__title {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  .rewiew_image {
    margin: 0 auto;
  }
  .slider {
    max-width: 90%;
    position: relative;
    margin: auto;
    height: 100%;
    margin: 0 30px 15px 30px;
  }
  .slider .item img {
    object-fit: cover;
    border: none;
    box-shadow: none;
  }
  .slider .prev,
  .slider .next {
    position: absolute;
    // top: 0;
    top: 50%;
    width: auto;
    margin: -22px -30px;
    padding: 10px;
    color: #707070;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 4px 4px 0;
  }
  .slider .next { 
    right: 0;
    border-radius: 4px;
  }
  /* При наведении на кнопки добавляем фон кнопок */
  .slider .prev:hover, &:focus,
  .slider .next:hover, &:focus {
    background-color: $main-color;
    color: white;
  }
  .slider-dots {
    text-align: center;
  }
  .slider-dots_item {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: white;
    border-radius: 4px;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active,
  .slider-dots_item:hover, &:focus {
    background-color: $main-color;
  }
  /* Анимация слайдов */
  .slider .item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @-webkit-keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
}
@media screen and (min-width: 768px) {
  .rewiew {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }
  .rewiew__title {
    display: flex;
    justify-content: center;
  }
  .rewiew_image {
    margin: 0 auto;
  }
  .slider {
    max-width: 100%;
    position: relative;
    margin: auto;
    height: 100%;
    margin: 0 30px 15px 30px;
  }
  .slider .item img {
    object-fit: cover;
    border: none;
    box-shadow: none;
  }
    .slider .prev,
    .slider .next {
      position: absolute;
      // top: 0;
      top: 50%;
      width: auto;
      margin: -22px 50px;
      padding: 10px;
      color: #707070;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 4px 4px 0;
    }
  
    .slider .next {
      right: 0;
      border-radius: 4px;
    }
  
    /* При наведении на кнопки добавляем фон кнопок */
    .slider .prev:hover,
    &:focus,
    .slider .next:hover,
    &:focus {
      background-color: $main-color;
      color: white;
    }
  
    .slider-dots {
      text-align: center;
    }
  
    .slider-dots_item {
      cursor: pointer;
      height: 12px;
      width: 12px;
      margin: 0 2px;
      background-color: white;
      border-radius: 4px;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
  
    .active,
    .slider-dots_item:hover,
    &:focus {
      background-color: $main-color;
    }
  /* Анимация слайдов */
  .slider .item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @-webkit-keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
}
@media screen and (min-width: 1200px) {
  .rewiew {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }
  .rewiew__title {
    display: flex;
    justify-content: center;
  
  }
  .rewiew_image {
    margin: 0 auto;
  }
  .slider {
    max-width: 100%;
    position: relative;
    margin: auto;
    height: 100%;
    margin: 0 30px 15px 30px;
  }
  .slider .item img {
    object-fit: cover;
    border: none;
    box-shadow: none;
  }
    .slider .prev,
    .slider .next {
      position: absolute;
      // top: 0;
      top: 50%;
      width: auto;
      margin: -22px 190px;
      padding: 10px;
      color: #707070;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 4px 4px 0;
    }
  
    .slider .next {
      right: 0;
      border-radius: 4px;
    }
  
    /* При наведении на кнопки добавляем фон кнопок */
    .slider .prev:hover,
    &:focus,
    .slider .next:hover,
    &:focus {
      background-color: $main-color;
      color: white;
    }
  
    .slider-dots {
      text-align: center;
    }
  
    .slider-dots_item {
      cursor: pointer;
      height: 12px;
      width: 12px;
      margin: 0 2px;
      background-color: white;
      border-radius: 4px;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
  
    .active,
    .slider-dots_item:hover,
    &:focus {
      background-color: $main-color;
    }
  /* Анимация слайдов */
  .slider .item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @-webkit-keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
}
